@{
    ViewData["Title"] = "Sobre";
}

<h2>@ViewData["Title"]</h2>
<hr></hr>

<h3>@ViewData["Message"]</h3>
<p></p>

<p><strong>Desenvolvedor: </strong>@ViewData["Developer"]</p>

<address>
    <strong>Email: </strong> <a href="mailto:dwin20@gmail.com">dwin20@gmail.com</a>
    <p></p>
    <strong>LinkedIn: </strong> <a href="http://www.linkedin.com/in/davi-winter">http://www.linkedin.com/in/davi-winter</a>
</address>